DEBUG=on
SECRET_KEY=<SECRET_KEY>
DATABASE_URL=<DATABASE_URL>
DATABASE_PORT=5432
DATABASE_USER=<DATABASE_USER>
DATABASE_PASSWORD=<DATABASE_PASSWORD>
DATABASE_NAME=<DATABASE_NAME>
SQLITE_URL=sqlite://../db.sqlite3

STATIC_URL=/static/