.navbar {
  background-color: #DABC8C;
}

#form-login {
  padding: 1em;
  min-width: 280px;
}

#content {
  margin-top: 80px;
  margin-bottom: 20px;
}

.modal-header {
  background-color: #DABC8C;
}

.modal-title {
  color: white;
}

.reading-date {
  width: 100%;
  text-align: center;
}

.delete-reading {
  margin-left: 10px;
}

.reading-list-table {
  table-layout: fixed;
}

.reading-list-column {
  overflow: hidden;
}

.reading-list-header {
  overflow: hidden;
  text-align: center;
}

.reading-list-column-center {
  text-align: center;
}

#reading-list-actions {
  text-align: right;
}

.btn-icon {
  margin-right: 10px;
}

#book-rate {
  margin-bottom: 10px;
  display: inline-block;
}

.dialog-book-rate-star {
  color: darkgray;
}

.dialog-book-rate-star.active {
  color: #DABC8C;
}

.reading-progress-r {
  color: #DABC8C;
}

.reading-progress-f {
  color: green;
}

.reading-progress-a {
  color: red;
}
