#form-login {
  padding: 1em;
  min-width: 280px;
}

#content {
  padding-top: 80px;
  padding-bottom: 30px;
}

#reading-progress {
  margin-bottom: 20px;
}

.reading-date {
  max-width: 10rem;
  text-align: center;
}

.reading-list-table {
  table-layout: fixed;
}

.reading-list-column {
  overflow: hidden;
}

.reading-list-header {
  overflow: hidden;
}