.navbar {
  background-color: #DABC8C;
}

#form-login {
  padding: 1em;
  min-width: 280px;
}

#content {
  margin-top: 80px;
  margin-bottom: 20px;
}

.modal-header {
  background-color: #DABC8C;
}

.modal-title {
  color: white;
}

#reading-progress {
  margin-bottom: 20px;
}

.reading-date {
  max-width: 10rem;
  text-align: center;
}

.reading-list-table {
  table-layout: fixed;
}

.reading-list-column {
  overflow: hidden;
}

.reading-list-header {
  overflow: hidden;
}