#book-img {
  width: auto;
  height: 14rem;
}

.detail-line {
  border: 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #F7F7F7;
}

#book-info {
  color: darkgray;
  line-height: 2;
}

#book-description {
  font-size: 15px;
}

#button-group-out {
  border-style: solid;
  border-width: 1px;
  border-color: #ECEDEC;
  padding: 3px;
}

#button-group-in {
  background-color: #ECEDEC;
  padding: 10px;
}

.side-btn {
  margin: 10px;
  min-width: 100px;
}

#detail-book-rate-row {
  color: darkgray;
}

#detail-book-rate {
  font-size: 25px;
  color: #DABC8C;
}

.detail-book-rate-star {
  font-size: 20px;
  color: darkgray;
}

.detail-book-rate-star.active {
  color: #DABC8C;
}

#detail-book-rate-count {
  font-size: 15px;
}
