#book-img {
  width: auto;
  height: 14rem;
}

.detail-line {
  border: 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #F7F7F7;
}

#book-info {
  color: darkgray;
  line-height: 2;
}

#button-group-out {
  border-style: solid;
  border-width: 1px;
  border-color: #ECEDEC;
  padding: 3px;
}

#button-group-in {
  background-color: #ECEDEC;
  padding: 10px;
}

.side-btn {
  margin: 10px;
  min-width: 100px;
}