#index-list {
  border-radius: 15px;
  background-color: #ECEDEC;
}

#index-list-header {
  padding-top: 1rem;
  padding-left: 1rem;
  color: #5A5A5A;
}

#index-list-header-line {
  border: 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #F7F7F7;
}

#index-list-content {
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.book-img {
  max-width: 100%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#book-title {
  font-size: 13px;
  height: 3rem;
  color: black;
}

#book-authors {
  font-size: 11px;
  height: 1rem;
}

.index-book-header {
  width: 100%;
  height: 12rem;
}

.index-book-rate {
  height: 10%;
  margin-top: 3px;
}

.index-book-rate-star {
  font-size: 15px;
   color: darkgray;
}

.index-book-rate-star.active {
  color: #DABC8C;
}