#book-img {
  width: auto;
  height: 6rem;
  display: block;
  margin: 0 auto;
}

#book-title {
  font-size: 15px;
  height: 1rem;
  color: black;
}

#book-authors {
  font-size: 13px;
  height: 1rem;
}
