#my-books-list {
  border-radius: 15px;
  background-color: #ECEDEC;
}

#my-books-list-header {
  padding-top: 1rem;
  padding-left: 1rem;
  color: #5A5A5A;
}

#my-books-list-header-line {
  border: 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #F7F7F7;
}

#my-books-list-content {
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

#book-img {
  width: auto;
  height: 8rem;
  display: block;
  margin: 0 auto;
}

#book-title {
  font-size: 13px;
  height: 3rem;
  color: black;
}

#book-authors {
  font-size: 11px;
  height: 1rem;
}
