#book-card {
    max-width: 10rem;
}

#book-img {
    width: auto;
    height: 8rem;
    display: block;
    margin: 0 auto;
}

#book-title {
    font-size: 15px;
    height: 3rem;
}

#book-authors {
    font-size: 13px;
    height: 1rem;
}

#reading-date {
    max-width: 7rem;
    text-align: center;
}
