#my-books-list {
  border-radius: 15px;
  background-color: #ECEDEC;
}

#my-books-list-header {
  overflow: hidden;
  padding-top: 1rem;
  padding-left: 1rem;
}

.tab-btn {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #5A5A5A;
}

.tab-btn:focus {
  outline: none;
}

.tab-btn.active {
  color: #DABC8C;
}

#my-books-list-header-line {
  border: 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #F7F7F7;
}

.tab-content {
  display: none;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.my-book-header {
  width: 100%;
  height: 10rem;
}

.book-img {
  max-width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#book-title {
  font-size: 13px;
  height: 3rem;
  color: black;
}

#book-authors {
  font-size: 11px;
  height: 1rem;
}

.my-readings-list-table {
  table-layout: fixed;
}

#my-readings-list-header-title {
  width: 60%;
}

#my-readings-list-header-start {
  width: 15%;
  overflow: hidden;
  text-align: center;
}

#my-readings-list-header-end {
  width: 15%;
  overflow: hidden;
  text-align: center;
}

#my-readings-list-header-progress {
  width: 10%;
  overflow: hidden;
  text-align: center;
}

.my-readings-list-column {
  font-size: 15px;
}

.my-readings-list-column-center {
  text-align: center;
}