{% extends 'base/base.html' %}

{% block ref %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'readers/my_books.css' %}" />
{% endblock %}

{% block content %}
  {% if books %}
    {% for book in books %}
      {% if forloop.counter0|divisibleby:"6" %}<div class="card-deck mt-4">{% endif %}
        <div class="card" id="book-card">
          <div class="card-header">
            <a class="reading-link" href="#" data-toggle="modal" data-target="#reading-dialog" book-isbn13="{{ book.isbn13 }}" remove-url="{% url 'books:remove_book' book.isbn13 %}">
              <img id="book-img" src="{{ book.image_url }}">
            </a>
          </div>
          <div class="card-body">
            <a class="reading-link" href="#" data-toggle="modal" data-target="#reading-dialog" book-isbn13="{{ book.isbn13 }}" remove-url="{% url 'books:remove_book' book.isbn13 %}">
              <p id="book-title">{{ book.title|truncatechars:25 }}</p>
            </a>
            <p class="text-secondary" id="book-authors">{{ book.authors|truncatechars:25 }}</p>
           </div>
        </div>
      {% if forloop.counter|divisibleby:"6" %}</div>{% endif %}
    {% endfor %}
  {% else %}
    <h1 style="text-align: center">You have no books</h1>
  {% endif %}
{% endblock %}
