{% extends 'base/base.html' %}

{% block ref %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'readers/my_books.css' %}" />
  <script src="{% static 'readers/my_books.js'%}"></script>
{% endblock %}

{% block content %}
  {% if books %}
    <div id="my-books-list">
      <div id="my-books-list-header">
        <button class="tab-btn tab-btn-default" data-tab-content-id="#my-books-list-content">MY BOOKS</button>
        <button class="tab-btn" id="tab-btn-my-readings" data-tab-content-id="#my-readings-list-content">MY READINGS</button>
      </div>
      <hr id="my-books-list-header-line" />
      <div class="tab-content" id="my-books-list-content">
        {% for book in books %}
          {% if forloop.counter0|divisibleby:"6" %}<div class="row mb-4">{% endif %}
            <div class="col-xl-2">
              <div class="card book-card">
                <div class="card-header my-book-header">
                  <a class="reading-link" href="#" data-toggle="modal" data-target="#reading-dialog" book-isbn13="{{ book.book.isbn13 }}" remove-url="{% url 'books:remove_book' book.book.isbn13 %}?redirect={{ request.path }}">
                    <img class="rounded mx-auto d-block img-fluid book-img" src="{{ book.book.image_url }}">
                  </a>
                  <div class="my-book-rate text-center" data-book-isbn="{{ book.book.isbn13 }}" data-my-book-rate="{{ book.rate }}">
                    {% for i in "*****" %}
                      {% if forloop.counter <= book.rate %}
                        <i class="material-icons my-book-rate-star my-book-rate-star{{ forloop.counter }} book-rate-star  active" data-index="{{ forloop.counter }}">star</i>
                      {% else %}
                        <i class="material-icons my-book-rate-star my-book-rate-star{{ forloop.counter }} book-rate-star" data-index="{{ forloop.counter }}">star_border</i>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="card-body">
                  <a class="reading-link" href="#" data-toggle="modal" data-target="#reading-dialog" book-isbn13="{{ book.book.isbn13 }}" remove-url="{% url 'books:remove_book' book.book.isbn13 %}?redirect={{ request.path }}">
                    <p id="book-title">{{ book.book.title|truncatechars:25 }}</p>
                  </a>
                </div>
                <div class="card-footer">
                  <p class="text-secondary" id="book-authors">{{ book.book.authors|truncatechars:25 }}</p>
                </div>
              </div>
            </div>
          {% if forloop.counter|divisibleby:"6" or forloop.counter == books|length %}</div>{% endif %}
        {% endfor %}
      </div>
      <div class="tab-content" id="my-readings-list-content">
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th id="my-readings-list-header-title">Book</th>
              <th id="my-readings-list-header-start">Start</th>
              <th id="my-readings-list-header-end">End</th>
              <th id="my-readings-list-header-progress">Progress</th>
            </tr>
          </thead>
          <tbody id="my-readings-list">
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <h1 style="text-align: center">You have no books</h1>
  {% endif %}
{% endblock %}
