{% extends 'base/base.html' %}

{% block ref %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'books/detail.css' %}" />
  <script src="{% static 'books/detail.js'%}"></script>
{% endblock %}

{% block content %}
  {% if book %}
    <div class="row">
      <div class="col-10">
        <div class="row">
          <div class="col">
            <div class="media">
              <img class="mr-3" id="book-img" src="{{ book.image_url }}" alt="Generic placeholder image">
              <div class="media-body">
                <h5 class="mt-0">{{ book.title }}</h5>
                <h6 class="mt-0">{{ book.subtitle }}</h6>
                <hr id="detail-line" />
                <div id="book-info">
                  <small>
                    Authors: {{ book.authors }}<br/>
                    Publisher: {{ book.publisher }}<br/>
                    ISBN: {{ book.isbn13 }}<br/>
                    Pages: {{ book.page_count }}<br/>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="button-group-out">
          <div id="button-group-in">
            <div class="row">
              <div class="col2 mx-auto">
                {% if request.user.is_authenticated and book.owned %}
                  <button type="button" class="btn btn-info btn-sm reading-link" data-toggle="modal" data-target="#reading-dialog" book-isbn13="{{ book.isbn13 }}" remove-url="{% url 'books:remove_book' book.isbn13 %}"><span class="oi oi-task btn-icon"></span>Progress</button>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <div class="col2 mx-auto">
                {% if request.user.is_authenticated %}
                  {% if book.owned %}
                    <button type="button" class="btn btn-danger btn-sm" id="detail-remove-book" remove-url="{% url 'books:remove_book' book.isbn13 %}?redirect={{ request.path }}"><span class="oi oi-trash btn-icon"></span>Remove</button>
                  {% else %}
                    <button type="button" class="btn btn-success btn-sm" id="detail-add-book" add-url="{% url 'books:add_book' book.isbn13 %}?redirect={{ request.path }}"><span class="oi oi-book btn-icon"></span>Add</button>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <h1 style="text-align: center">No this book</h1>
  {% endif %}
{% endblock %}