{% extends 'base/base.html' %}

{% block ref %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'books/index.css' %}" />
{% endblock %}

{% block content %}
  {% if books %}
    <div id="index-list">
      <div><h6 id="index-list-header">LATEST</h6></div>
      <hr id="index-list-header-line" />
      <div id="index-list-content">
        {% for book in books %}
          {% if forloop.counter0|divisibleby:"6" %}<div class="row mb-4">{% endif %}
          <div class="col-xl-2">
            <div class="card book-card">
              <div class="card-header index-book-header">
                <a href="{% url 'books:detail' book.isbn13 %}">
                  <img class="rounded mx-auto d-block img-fluid book-img" src="{{ book.image_url }}">
                </a>
                <div class="index-book-rate text-center">
                  {% for i in "*****" %}
                    {% if forloop.counter <= book.rate %}
                      <span class="material-icons index-book-rate-star book-rate-star active">star</span>
                    {% else %}
                      <span class="material-icons index-book-rate-star book-rate-star">star_border</span>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="card-body">
                <a href="{% url 'books:detail' book.isbn13 %}">
                  <p id="book-title">{{ book.title|truncatechars:25 }}</p>
                </a>
              </div>
              <div class="card-footer">
                  <p class="text-secondary" id="book-authors">{{ book.authors|truncatechars:25 }}</p>
                </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:"6" or forloop.counter == books|length %}</div>{% endif %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h1 style="text-align: center">No books?</h1>
  {% endif %}
{% endblock %}